<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 널 값이 발생할 경우 빈칸이 아닌 NULL로 인식하라 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.ateam.booknotice.model.vo.BookNotice" alias="BookNotice"/>
		<typeAlias type="com.ateam.member.model.vo.MemberNotice" alias="MemberNotice"/>
		<typeAlias type="com.ateam.library.model.vo.Library" alias="Library"/>
		
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="TRUMP_LIBRARY"/>
				<property name="password" value="TRUMP_LIBRARY"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/member-mapper.xml" />
		<mapper resource="mapper/booknotice-mapper.xml" />
		<mapper resource="mapper/membernotice-mapper.xml" />
		<mapper resource="mapper/library-mapper.xml" />
		
	</mappers>
</configuration>